<!-- Start Top Bar -->
<div class="top-bar bg-primary">
  <div class="top-bar-left">
    <ul class="menu bg-primary">
      <li class="menu-text" style="color:white;">Dhanai Fruits Mart</li>
      <li><a href="#" style="color:white;">Home</a></li>
      <li><a href="#" style="color:white;">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu bg-primary">
      <li> <a [routerLink]="['/customer']" style="color:white;">Customer</a> </li>
      <li><a [routerLink]="['/customer']" style="color:white;">Clients</a></li>
      <li><a href="/customer" style="color:white;">Blog</a></li>
      <li><a href="#" style="color:white;">Contact</a></li>
    </ul>
  </div>
</div>